body{
    background-color:#e6ffee;
    background-image: url(../images/bg-1.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}


.navbar{
    background-color:#003310;
}
    .h-90{
        height:120px;
        }
    .me-2{
   margin-right:10px;
    }  
.navbar-menu-container{
    text-decoration-line: none;
} 
.ms-5{
    margin-left:120px;
}
.buttons{
    text-decoration:none;
}
.card{
    box-shadow:0px 0px 0px rgba(0 0  3 0.5)
}
.h-20{
height:180px;
border-radius:15px;
}
.footer-contact{
    background-color:#003310;
}
.h-120{
   height:120px;
   width:100%; 
}
.footer-contact{
    background-color:#003310;
    padding: 50px 0;
    height:250px;
    margin-top:20px;
}
.contact-container{
    max-width: 2000px;
    margin:auto;
    display: flex;
    margin-left:180px ;
    
}
.footer-col{
    color: white;
    font-size: 20px;

}
.contact-row{
    line-height:27px;
    margin-left:10px;
}
.contact-footer-info{
    text-decoration: none;
    color: #bbbbbb;
}
.social-link{
   line-height: 100px;
    display: flex;
}
.footer-col h4{
    line-height:50px;
    text-underline-position: 5px;
}
.h-10{
    height:30px;
    width:30px;
    margin-left:-30px;
}
.h-40{
    height:25px;
    margin-left:-20px;
}
.h-60{
    height:25px;
}
.h-70{
    height:25px;
}

.heading{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 60px;
margin-top: 20px;
margin-left: 70px;
color: rgb(61, 23, 16);
}

.heading2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 70px;
    color:#000;
    margin-left:140px;
    margin-right:120px;
    }
.btn-1{
    padding:10px 19px;
    margin-left:140px;
    background-color:#003310;
    color:#fff;
    border-radius:10px;
    font-size:18px;

}
