*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    
    
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(../images/iit-roorkee\ bbb.webp );
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: -90px;
}
.brand-name{
    text-align: center;
    color: #003310;
    margin-left: 600px; 
    font-size:35px;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 560px;
    z-index: 100;
    
}
.menu-icon:hover{
    box-shadow: 0 0 10px 8px rgb(98, 96, 96);
    border-radius: 50%;
    
}

.row{
    display: flex;
    flex-direction: column;
    height: 45%;
    align-items: center;
    margin-top: 70px;
    
}
.col{
    flex-basis: 50%;
    
    margin-top: 70px;
    margin-left: 100px;
    display: flex;
    justify-content: space-evenly;
    
}

.bol{
    flex-basis: 50%;
    
}
h1{
    color: wheat;
    font-size: 100px;
    
}
p{
    color: #fff;
    font-size: 16px;
    line-height: 15px;
    color: wheat;
    

}
.p1{
     color: bisque;

}

button{
    width: 180px;
    color: #000;
    font-size: 16px;
    padding: 12px 0;
    background:#fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    
    
}



button:hover{

        background-color:#003310;
        color:#fff;
        


}

.button-send{
    color:#000;
    background-color: rgb(251, 253, 253);
    border: 2px white;
    cursor: pointer;
    font-size: 16px;
    
}
.button-send:hover{
    background-color: #003310;
    font-size: 18px;
    color:#fff;
}





.card{
    width: 240px;
    height: 270px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 40px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    
}
.card1{
    background-image: url(../images/download.jpeg);
    text-decoration: none;
}
.card2{
    background-image: url(../images/university.jpg);
}
.card3{
    background-image: url(../images/aiims.jpeg);
}
.card4{
    background-image: url(../images/coa.jpg);
}
.card:hover{
    transform: translateY(-10px);

}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
    color: black;
    font-size: 20px;

}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 14px;
    color:#000;

}
.box{
    border-radius: 5px;
    
    width: 1200px;
    background-color:red;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 10px;
    display: inline-block;
    

}
.temp-img{
    
    width: 300px;
    margin-top: 25px;
    margin-left: 25px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px black;
    float: left;
    margin-right: 20px;
}
/* media query large size */
@media only screen and (max-width: px) {
  .row {
    flex-direction: column;
   margin-top: 50px;
  }
}

.histro-img{
    
    width: 300px;
    margin-top: 25px;
    margin-left: 25px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px black;
    float: right;
    margin-right: 20px;
}
.card-p{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #000;
   font-size: large;
   text-align: justify;
   margin-top: 50px;
   margin-right: 30px;

}
body{
    background-color: aquamarine;
}

.explore-button{
    text-decoration: none;
    font-size: 15px;
    color: #000;
}
.explore-button:hover
{
   text-decoration: none;
   box-shadow:0 0 5px 3px rgb(120, 118, 118);
}

h2{
     margin-left:300px;
     padding-top: 50px;
     display: inline-block;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width : 991px)
{
  .col{
    margin-top: 300px;
    margin-left:-1px ;
  }
}
.footer-contact{
    background-color:  #24262b;
    padding: 50px 0;
    height:150px;
}
.contact-container{
    max-width: 1170px;
    margin:auto;
    display: flex;
    margin-left:180px ;
    
}
.footer-col{
    color: white;
    font-size: 20px;

}
.contact-row{
    line-height:27px;
}
.contact-footer-info{
    text-decoration: none;
    color: #bbbbbb;
}
.social-link{
   line-height: 100px;
    display: flex;
}
.footer-col h4{
    line-height:50px;
    text-underline-position: 5px;
}
.img-contact{
    width:30px;
    height:30px;
}