body{
    background-color:#e6ffee;
}


.navbar{
    background-color:#003310;
}
    .h-90{
        height:120px;
        }
    .me-2{
   margin-right:10px;
    }  
.navbar-menu-container{
    text-decoration-line: none;
} 
.ms-5{
    margin-left:120px;
}
.buttons{
    text-decoration:none;
}
.card{
    box-shadow:0px 0px 0px rgba(0 0  3 0.5)
}
.h-20{
height:180px;
border-radius:15px;
}